{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}

<h1>Sorted Deck</h1>

    <p>Displayed below is a sorted card deck.</p>
    <div class="deck">
        {% for card in deck %}
            <div class="card">
                <div>{{ card.value }} {% if card.suit == 'Hearts' or card.suit == 'Diamonds' %}<span class="red">{% endif %}{% if card.suit == 'Hearts' %}&hearts;{% elseif card.suit == 'Spades' %}&spades;{% elseif card.suit == 'Diamonds' %}&diams;{% elseif card.suit == 'Clubs' %}&clubs;{% endif %}</span></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
