@import './assets/styles/variables.scss';
@import './assets/styles/header.scss';
@import './assets/styles/footer.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/two-column.scss';

main {
    margin: 0 auto;
    max-width: 800px;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    font-family: "Roboto",system-ui,serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: $font-size;
}

h1 {
    border-bottom: 4px double $border-color;
}

.title {
    text-align: center;
}

.magic-number {
    cursor: pointer;
    color: $special-number-color;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.magic-number :hover {
    color: $hover-color;
}
