$border-color: #ccc;
$background-color: #fff;
$alt-background-color: #eee;
$hover-color: #631b44;
$special-number-color: #3366cc;

$font-size: 1.2rem;
$font-size-nav-header: 1.6rem;

$font-family: "Bookman Old style", Helvetica, system-ui, serif;

$width-main: calc(100% - 25%);
$width-side: calc(100% - 75%);
$margin-two-grid: 1.5rem;
