{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <div class="title">
        <h1>API</h1>   
    </div>
    <h2>API routes</h2>
    <ul>
        <li><a href="/~veda23/dbwebb-kurser/mvc/me/report/public/api/quote">Route "Quote"</a></li>
        <li><a href="/~veda23/dbwebb-kurser/mvc/me/report/public/api/lucky/number">Route "Lucky"</a></li>
    </ul>
{% endblock %}
