{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="title">
        <h1>Report</h1>   
    </div>
    <div class="two-column-content">
        <div class="report-content">
            <h2 id="Kmom01">Kmom01</h2>
            <p>Jag har grundläggande förståelse för objektorienterad programmering och har tidigare använt OOP-koncept i OO Python kursen. Jag är bekant med begrepp som klasser, objekt, arv, inkapsling och polymorfism.</p>
            <p>I PHP definieras klasser med nyckelordet class, och objekt skapas från dessa klasser med nyckelordet new. För att komma igång och skapa sina första klasser behöver man förstå grundläggande koncept såsom egenskaper (properties) och metoder (methods). Egenskaper representerar just egenskaperna hos ett objekt, medan metoder definierar beteendet eller alltså funktioner. Vidare behöver man förstå hur man instansierar objekt från klasser och hur man använder dessa objekt i sin kod för att utföra olika åtgärder eller uppgifter.</p>
            <p>Kodbasen och strukturen för uppgiften verkar vara omfattande och det blir mycket att hålla reda på. Det tror jag blir bra på långt håll när man har många routes och behöver en tydlig struktur, men just nu även då det är tydligt vad som skapar router och vad som är tamplate så måste man ändå tänka noga var exakt man ska placera olika delar av koden. I nästa kursmoment tänker jag testa att använda mig av Markdown såsom vi gjorde i Design-kursen, just nu känns det att för mycket html-kod hamnar i twig-filer. Det som också var lite svårt att hålla reda på är hantering av bilden. Jag lyckades få det som jag ville, men det var ganska petigt. Finns säkert några enkla knep som jag måste utforska framöver.</p>
            <p>Artikeln "PHP The Right Way" är en superbra resurs för PHP-utvecklare. Den är en väldigt omfattande guide till bästa praxis och moderna sätt för att skriva ett riktigt kvalitativ PHP-kod. Jag har bläddrat igenom olika delar och just nu det som jag mest fokuserade på är delen om templates, för att vi har börjat jobba med att skapa olika views i denna kursmoment.</p>
            <p>Under kmom01 har jag lärt mig mer om användningen av objektorienterade koncept i PHP och hur den tillämpas i ramverket Symfony. Jag har jobbat mycket med twig templates och har lärt mig skapa routes i controller.</p>
            <h2 id="Kmom02">Kmom02</h2>
            <p>Arv tillåter en klass att ärva egenskaper och metoder från en annan klass, t.ex. parent class och child class. På så sätt kan man återanvända sin kod och strukturera upp koden genom att skapa hierarkier av klasser.</p>
            <p>Komposition betyder att en klass innehåller instanser av andra klasser. Man kan då kombinera funktionalitet från olika klasser.</p>
            <p>Interface är en uppsättning av metoder som en klass kan implementera.</p>
            <p>Trait är ett sätt att återanvända kod i flera klasser genom att inkludera en uppsättning metoder i klasser.</p>
            <p>När jag jobbade med uppgifter använde jag mig mycket av DiceGame övningen. Jag konstruerade kortleken på ungefär samma sätt, med Card och Deck klasser. Uppgiften kändes för omfattande och då försökte jag skriva så enkla lösningar som möjligt utan att komplicera det för att det är säkert så att man kan ha gjort annorlunda och bättre, men jag är ganska nöjd med hur jag fixade till allting. Json med get/post var speciellt uppmanande, jag fick debugga mycket och därav kanske inte haft tid att pyssla till med detaljer. Eftersom det var förmycker redan lät jag bli att testa Markdown.</p>
            <p>Att få jobba i Symfony och enligt MVC ger mig större förståelse för modulärt kodskrivning, då man strukturerar upp koden och då blir det lättare att överse vilken del ansvarar för vilken “funktion” och det blir lättare att felsöka, men också mycket av koden kan återanvändas.</p>
            <p>TIL för kmom02 är att jag fick lära mig mycket om arv/komposition, men att få lära sig jobba med sessions var en stor upptäckt för mig, jätteroligt.</p>
            <h2 id="Kmom03">Kmom03</h2>
            <p>Till en början var jag lite osäker på hur detta kommer kunna vara till min hjälp då jag brukar inte tänka på schema/flöde -skissar innan jag sätter igång så att säga. Själva processen tog lite tid därför och jag försökte tänka på hur det skulle se ut för någon som inte “pratar” programmeringsspråk. Men när det var på plats har det visat sig vara mycket värdefullt och jag kom tillbaka till både flödesschemat och pseudokoden under tiden jag jobbade med spelet. Det hjälpte mig identifiera vilka delar behöver hanteras, i vilken turordning, hur man ska tänka kring poängberäkning och liknande.</p>
            <p>Jag hade klasser såsom Card och Deck exempelvis så det fanns redan en baskod som jag kunde återanvända, samt en välutvecklad route for CardGame så jag tittade där för att se hur jag hanterade sessions och liknande. Först hade jag en idé om att ha klasser Player och Bank men under tiden jag utvecklade klassen Game21, som innehåller själva spelets logik, kom jag på att jag faktiskt kan använda CardHand och ha player och bank som objektvariabler.</p>
            <p>Överlag är jag nöjd med strukturen, jag försökte, enligt kravet, ha lite kod i routes och hantera allt i själva klasser, vilket jag tycker jag lyckades ganska bra med. Det har hjälpt mig att tänka mer på ren kod och att inte komplicera saker i onödan. Övningen med php-linters var också väldigt värdefull. Tidigare har fokus mest legat på att få allt att fungera, men nu börjar jag även tänka mer på kodkvalitet och struktur – ett steg framåt.</p>
            <p>Jag börjar känna mig bekväm med Symfony nu. Ramverket hjälper hålla koden ren och organiserad och det är mycket enklare att utveckla en app då man egentligen jobbar med endast få antal filer.  Samtidigt finns en tydlig struktur och förståelse för vilket ansvar varje fil har i appen, exempelvis hantering av routes, controllers och templates.</p>
            <p>TIL för kmom03 är code linting. Jag har lärt mig använda olika verktyg för att kontrollera och testa min kod för att kunna skriva “snyggare” och förbättra kvaliteten. Jag lärde mig mycket under tiden jag försökte fixa alla fel. Det var smidigt att köra alla verktyg samtidigt med ett script i composer.</p>
            <h2 id="Kmom04">Kmom04</h2>
            <p>Jag tycker att det fungerade ganska bra att skriva tester med PHPUnit. Vi har introducerats till unittest i oopython och mycket påminde om det och sedan var det bra övningar om just phpunit. Har man koll på sina metoder och vet vad de förväntas göra så är det inte särskilt svårt att strukturera även testerna på ett vettigt sätt och man kan hitta allt i dokumentationen. Där finns det för mycket avancerat men jag har försökt använda mig av de grundläggande funktionerna.</p>
            <p>Jag har nått 100% kodtäckning, men hur välutvecklade dessa tester är kan jag inte veta.Jag tycker att att koden var testbar i de flesta fall. En av de svåra saker var test för Game21 där det var särskilt viktigt att testa flöden när banken drar kort och sedan jämförelse av resultat. Där använde jag mig av Mock-objekt såsom i exemplet med Dice.</p>
            <p>Jag upplever att min kod är till största delen testbar, men vissa delar som beror på slump eller komplexa loopar kan vara svårare att testa. Man kan förbättra det genom att dela upp kod i mindre delar.</p>
            <p>Jag har inte valt att skriva om min kod just för att kunna göra den mer testbar. Jag fokuserade på att skriva tester för den kod jag redan hade. Koden var i stort sett tillräckligt testbar, men såklart finns det säkert områden som kan förbättras för enklare testning.</p>
            <p>Inte nödvändigtvis att det rakt av betyder att om koden är testbar så är den snygg och ren, men det hänger såklart mycket ihop. Om koden är skriven på ett sätt som gör den lätt att testa, tyder det att den är välstrukturerad och lätt att underhålla.</p>
            <p>TIL för detta kmom är PHPUnit testning och vikten av att skriva kod som är testbar.</p>
            <h2 id="Kmom05">Kmom05</h2>
            <p>Det var smidigt att komma igång med Symfony och Doctrine, då man i princip gjorde som i övningsuppgiften. Mycket av saker sker “automatiskt”, det är väldigt trevligt med de inbyggda funktioner, men man behöver därför ha bra koll på vad de olika delarna gör, så man gör rätt från början.</p>
            <p>Min applikation är uppbyggd likt Product-exemplet, med ett entitet Library och en LibraryController där vi genom olika routes representerar ett enkelt bibliotek och använder oss av GET och POST för att visa, lägga till och redigera, samt ta bort böcker. Jag jobbade med CRUD tidigare så det var inga konstigheter där och jag försökte ha ett trevligt användargränssnitt så jag lade lite extra arbete för att organisera mina templates, en sida där det finns en lista över alla böcker, en sida för att visa en enskild bok, en för redigering osv.</p>
            <p>Det gick bra att jobba med ORM och CRUD men samtidigt vet jag inte riktigt vilket sätt att jobba med databaser jag föredrar. Man slipper skriva sql manuellt och kan direkt jobba med objekt och metoder. Det sparar tid och är kanske lättare i långt håll när man har större applikationer. Å andra sidan, så är det lätt att man tappar koll på vad exakt sker i bakgrunden, än när man skriver själv all sql och då vet man vad man skapar.</p>
            <p>Min uppfattning är att det är ganska så smidigt att jobba med ORM. Det förenklar databashantering och minskar mängden manuellt skrivet kod. Men undrar om felsökningen är lika lätt.</p>
            <p>TIL för kmom05 är hur Doctrine ORM fungerar i Symfony.</p>
        </div>
        <div class="side-bar">
            <ul>
                <li><a href="#Kmom01">Kmom01</a></li>
                <li><a href="#Kmom02">Kmom02</a></li>
                <li><a href="#Kmom03">Kmom03</a></li>
                <li><a href="#Kmom04">Kmom04</a></li>
                <li><a href="#Kmom05">Kmom05</a></li>
                <li><a href="#Kmom06">Kmom06</a></li>
                <li><a href="#Kmom10">Kmom10</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
